.main-section {
  min-height: 68rem;
  background: linear-gradient(to right bottom, $blue-gradient-dark-color, $blue-gradient-light-color);
  padding-top: 16rem;
  position: relative;

  @include media-breakpoint-down(md) {
    padding-top: 0;
  }

  &__car-bg {
    position: absolute;
    content: '';
    width: 30%;
    height: 100%;
    background: url(../img/main-section-car-bg.jpg) no-repeat right center;
    top: 0;
    right: 0;
    background-size: cover;
    z-index: 10;

    @include media-breakpoint-down(md) {
      position: static;
      display: block;
      width: auto;
      height: 50vh;
      background-position: center;
    }
  }

  .decoration {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 31rem;
      height: 52rem;
      background: url(../img/main-section-decoration.png) no-repeat top center;
      left: -9.75rem;
      top: 16rem;
      z-index: 20;

      @include media-breakpoint-down(md) {
        content: none;
      }
    }
  }

  &__text-box {
    @include media-breakpoint-down(md) {
      margin-top: 4rem;
    }
  }
}

.manufacture-section {
  position: relative;
  padding: 23rem 0 12.5rem;

  @include media-breakpoint-down(md) {
    padding: 18.5rem 0 8rem;

  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 28rem;
    height: 68rem;
    top: 0;

    @include media-breakpoint-down(xl) {
      content: none;
    }
  }

  &::before {
    left: 0;
    background: url(../img/manufacture-left-decoration.png) no-repeat left top;

    @include media-breakpoint-down(md) {
      content: '';
      background: url(../img/manufacture-mobile-top.png) no-repeat center top;
      height: 13.5rem;
      width: 100%;

    }
  }

  &::after {
    right: 0;
    background: url(../img/manufacture-right-decoration.png) no-repeat left top;
  }

  &__list {
    margin-top: 9rem;
    display: flex;
    justify-content: space-around; 

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
      margin-top: 5rem;
    }

    &__item {
      width: 26rem;
      @include media-breakpoint-down(md) {
        &:not(:last-child) {
          margin-bottom: 6rem;
        }
      }
    }
  }
}

.gallery-section {
  position: relative;
}

