.main-section {
  // height: 100vh;
  min-height: 68rem;
  background: linear-gradient(to right bottom, $blue-gradient-dark-color, $blue-gradient-light-color);
  // padding-top: 25vh;
  padding-top: 16rem;
  position: relative;

  // &::after {
  //   content: '';
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   display: block;
  //   height: 7rem;
  //   background: $yellow-color;
  //   box-shadow: 0 -1rem 5rem rgba(0, 0, 0, 0.1);
  //   position: absolute;
  // }

  &__car-bg {
    position: absolute;
    content: '';
    // width: 40vw;
    width: 30%;
    // height: 100vh;
    height: 100%;
    background: url(../img/main-section-car-bg.jpg) no-repeat;
    top: 0;
    right: 0;
    background-size: cover;
    z-index: 10;
  }

  .decoration {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 31rem;
      height: 52rem;
      background: url(../img/main-section-decoration.png) no-repeat top center;
      left: -9.75rem;
      top: 16rem;
      z-index: 20;
    }
  }
}

.manufacture-section {
  position: relative;
  padding: 23rem 0 12.5rem;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 28rem;
    height: 68rem;
    top: 0;
  }

  &::before {
    left: 0;
    background: url(../img/manufacture-left-decoration.png) no-repeat left top;
  }

  &::after {
    right: 0;
    background: url(../img/manufacture-right-decoration.png) no-repeat left top;
  }

  &__list {
    margin-top: 9rem;
    display: flex;
    justify-content: space-around; 

    &__item {
      width: 26rem;
    }
  }
}

.gallery-section {
  background-color: black;
}

