/* Header
-----------------------------------------------------------------------------*/

.header {
    height: 698px;
    @include bg-img('header-bg.jpg');
}

.header-top {
    height: 88px;
    background-color: rgba(255, 255, 255, .23)
}

.logo {
    float: left;
    margin-top: 30px;
    font: 400 2.9rem/4.4rem $bringin;
    color: #95a5ad;
    text-decoration: none;
    transition: all 0.2s ease-in;
    span {
        color: #36aeea;
    }
    &:hover {
        transform: translateX(10px);
    }
}

.main-nav {
    float: left;
    margin: 30px 0 0 60px;
    a {
        &:first-child {
            margin-left: 0;
        }
        text-transform: uppercase;
        text-decoration: none;
        font: 700 1.2rem/4.4rem $open-sans;
        color: #9daeb6;
        margin-left: 22px;
        padding: 10px 0;
        &:hover {
            border-bottom: 2px solid #36aeea;
        }
    }
}

.call_us {
    float: right;
    margin-top: 22px;
    text-decoration: none;
    width: 153px;
    height: 46px;
    border-radius: 4px;
    border: 3px solid #36aeea;
    font: 700 1.2rem/4.4rem $raleway;
    color: #36aeea;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s ease-in;
    &:hover {
        background-color: #36aeea;
        color: #fff;
    }
}

.header-bottom {
    width: 1135px;
    height: 324px;
    @include bg-img('header-border.png');
    margin: 135px 0 0 14px;
    padding: 43px 0 0 37px;
    h1 {
        font: 700 5rem/4rem $open-sans;
        color: #fff;
        letter-spacing: 4px;
        span {
            font: 400 6.6rem/4rem $bringin;
            color: #56c7ff;
            display: block;
            letter-spacing: normal;
        }
    }
    .header-text {
        margin: 17px 0 0 4px;
        color: #ffffff;
        font: 400 1.8rem/2.9rem $open-sans;
        opacity: .75;
    }
    .header-order {
        display: block;
        margin: 27px 0 0 4px;
        width: 253px;
        height: 60px;
        box-shadow: 0 0 35px rgba(3, 3, 3, 0.06);
        border-radius: 3px 4px 4px 3px;
        background-color: #36aeea;
        line-height: 60px;
        font: 700 1.4rem/4.4rem $raleway;
        color: #ffffff;
        text-decoration: none;
        text-align: center;
        
    }
}
