.content {
    padding: 0 0 85px;
}


/* About us section
-----------------------------------------------------------------------------*/
.about-us {
    @include bg-img('about-us-map.png', #f6f4f4, 64%, 13%);
    height: 667px;
    .container {
        position: relative;
    }
    img {
        position: absolute;
    }
    &-big {
        top: -36px;
        right: -200px;
    }
    &-small {
        right: 345px;
        top: 270px;
    }
    &-content {
        padding-top: 200px;        
        p {
            font: 400 1.4rem/2.6rem $open-sans;
            color: #949494;
        }
        a {
            width: 130px;
            height: 40px;
            border-radius: 4px;
            background-color: #36aeea;
            font: 700 1.2rem $open-sans;
            color: #ffffff;
            line-height: 40px;
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            text-align: center;
            margin-top: 25px;
            transition: all .2s ease-in;
            &:hover {
                color: #FFFACD;
                background-color: #87CEFA;
            }
        }
    }
}

.journal {
    padding: 70px 0 90px;
    h2{
        text-align: center;
        background-position: center top;
    }
    .articles__wrap {
        .bg {
            @include bg-img('love-bg.png');
            width: 380px;
            height: 380px;
            position: relative;
            .icon {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 80px;
                height: 80px;
                margin: -40px 0 0 -40px;
                transition: all .5s ease-in;// background: url(../images/love.svg) no-repeat top center;
                .love__svg {
                    fill: #fff;
                }
                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
                &:hover .love__svg {
                    fill: #16b5ef;
                }
            }
        }
    }
    
}