/*Fonts*/

@font-face {
    font-family: "ProximaNovaRegular";
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ProximaNovaBold";
    src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
    src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix")format("embedded-opentype"), url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"), url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/*End fonts*/
* {
	box-sizing: border-box;
}

.gosfin-container {
    width: 640px;
    height: 480px;
    margin: 0 auto;
    background: rgb(63, 63, 63);
    background: -moz-linear-gradient(45deg, rgb(63, 63, 63) 0%, rgb(92, 92, 92) 100%);
    background: -webkit-linear-gradient(45deg, rgb(63, 63, 63) 0%, rgb(92, 92, 92) 100%);
    background: linear-gradient(45deg, rgb(63, 63, 63) 0%, rgb(92, 92, 92) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#5c5c5c', GradientType=1);
    position: relative;
    font-family: ProximaNovaBold, sans-serif;
    color: #fff;
    padding: 120px 38px 40px 225px;
    text-align: right;
}

.main-image {
    position: absolute;
    bottom: 0;
    left: 10px;
}

.title {
	font-size: 25.94px;
	padding: 25px 0 43px 0;
}

.search-text, .search-link {
	display: inline-block;
	vertical-align: middle;
	height: 47px;
	line-height: 47px;
}

.search-text {
	background: #fff;
	font-size: 14px;
    color: #2f2e2e;
    width: 209px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
}

.search-link {
	width: 138px;
	background: #3679bd url(../images/search-icon.png) no-repeat 100px center;
	color: #fff;
	text-decoration: none;
	font-size: 24px;
	border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    text-align: left;
    padding-left: 16px;
}

.text {
	font-size: 14px;
	width: 375px;
    margin-top: 14px;
}
