//Font variables
$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$times: 'Times New Roman', Times, serif;
$league: 'LeagueGothicRegular';
$bringin: 'bringin';