$primary-font: "ping-regular", sans-serif;
$primary-font-bold: "ping-bold", sans-serif;
$primary-font-medium: "ping-medium", sans-serif;
$primary-font-light: "ping-light", sans-serif;
$accent: #1D5794;
$primary-color: #FDFDFF;
$yellow-color: #F6CF00;
$blue-gradient-light-color: #35699F;
$blue-gradient-dark-color: #1C5693;
$blue-light-color: #738CA6;
$blue-dark-color: #1D5794;
$blue-darkest-color: #124479;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
// $grid-gutter-width: 30px;
// $grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
//$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

// $gutter: $grid-gutter-width;
