/*Fonts*/

@font-face {
    font-family: "ProximaNovaRegular";
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ProximaNovaBold";
    src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
    src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix")format("embedded-opentype"), url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"), url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Exo2Regular";
    src: url("../fonts/Exo2Regular/Exo2Regular.eot");
    src: url("../fonts/Exo2Regular/Exo2Regular.eot?#iefix")format("embedded-opentype"), url("../fonts/Exo2Regular/Exo2Regular.woff") format("woff"), url("../fonts/Exo2Regular/Exo2Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Exo2Bold";
    src: url("../fonts/Exo2Bold/Exo2Bold.eot");
    src: url("../fonts/Exo2Bold/Exo2Bold.eot?#iefix")format("embedded-opentype"), url("../fonts/Exo2Bold/Exo2Bold.woff") format("woff"), url("../fonts/Exo2Bold/Exo2Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/*End fonts*/

.art-clear:after {
    content: '';
    display: table;
    clear: both;
}

#art-container {
    position: relative;
    box-sizing: border-box;
    width: 640px;
    height: 480px;
    margin: 0 auto;
    padding: 103px 38px 125px 240px;
    text-align: right;
    overflow: hidden;
    background: rgb(43, 134, 100);
    background: -moz-linear-gradient(45deg, rgb(43, 134, 100) 0%, rgb(0, 158, 98) 100%);
    background: -webkit-linear-gradient(45deg, rgb(43, 134, 100) 0%, rgb(0, 158, 98) 100%);
    background: linear-gradient(45deg, rgb(43, 134, 100) 0%, rgb(0, 158, 98) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2b8664', endColorstr='#009e62', GradientType=1);
}

#art-container .art-woman {
    position: absolute;
    left: 17px;
    bottom: 0;
}

#art-container .art-title {
    font-size: 25.94px;
    font-family: ProximaNovaBold, sans-serif;
    color: #fff;
}

#art-container .art-search {
    width: 315px;
    height: 37px;
    background: #fff;
    float: right;
    line-height: 37px;
    border-radius: 20px;
    margin: 20px 0 15px;
}

#art-container .art-search-text {
    float: left;
    padding-left: 20px;
    font-family: ProximaNovaRegular, sans-serif;
    font-size: 18.94px;
    color: #1a1a1a;
    width: 190px;
    overflow: hidden;
    text-align: left;
    height: 37px;
}

#art-container .art-button {
    float: right;
    margin-right: -2px;
    border-radius: 20px;
    width: 103px;
    text-align: center;
    font-family: "Exo2Bold", sans-serif;
    font-size: 18.94px;
    color: #292929;
    text-decoration: none;
    background: rgb(196, 195, 195);
    background: -moz-linear-gradient(left, rgb(196, 195, 195) 0%, rgb(225, 225, 225) 50%, rgb(253, 253, 253) 100%);
    background: -webkit-linear-gradient(left, rgb(196, 195, 195) 0%, rgb(225, 225, 225) 50%, rgb(253, 253, 253) 100%);
    background: linear-gradient(to right, rgb(196, 195, 195) 0%, rgb(225, 225, 225) 50%, rgb(253, 253, 253) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c4c3c3', endColorstr='#fdfdfd', GradientType=1);
}

#art-container .art-text p {
    font-family: "Exo2Regular", sans-serif;
    font-size: 18px;
    color: #fff;
    margin: 0;
}

#art-container .art-book {
    position: absolute;
    right: 40px;
    bottom: -60px;
}