@import url('https://fonts.googleapis.com/css?family=Cuprum:700&subset=cyrillic');
@font-face {
	font-family: 'Calibri';
	src: url('../fonts/calibri.eot');
	src: local('☺'), url('../fonts/calibri.woff') format('woff'), url('../fonts/calibri.ttf') format('truetype'), url('../fonts/calibri.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}