@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:400i&subset=cyrillic");
* { box-sizing: border-box; }

/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* End of Eric Meyer's CSS Reset */
html { height: 100%; font: 10px/10px "Open Sans", sans-serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

body { height: 100%; }

.wrapper { min-width: 320px; max-width: 1920px; min-height: 100%; height: auto !important; height: 100%; }

.container { max-width: 1170px; margin: 0 auto; }

.clear:after { content: ''; display: table; clear: both; }

h2 { font: 400 6rem "Open Sans", sans-serif; color: #fff; text-align: center; }

/* Header
-----------------------------------------------------------------------------*/
.header { height: 796px; background: url(../images/header-bg.png) right top no-repeat; }

.header .header-top { height: 50px; box-shadow: 0 2px 6px #a9a9a9; background-color: #fcfcfc; }

.header .header-top .logo, .header .header-top .phone { float: left; text-decoration: none; }

.header .header-top .logo { margin: 13px 0; display: block; }

.header .header-top .phone { font: 400 1.8rem "Open Sans", sans-serif; color: #000; padding-left: 26px; margin-left: 60px; background: url(../images/phone.png) 0 center no-repeat; height: 50px; line-height: 50px; }

.header .header-top .main__nav { float: right; }

.header .header-top .main__nav ul li { display: inline-block; height: 50px; line-height: 50px; margin-right: 38px; }

.header .header-top .main__nav ul li:last-of-type { margin-right: 0; }

.header .header-top .main__nav ul li a { text-decoration: none; font: 400 1.8rem "Open Sans", sans-serif; color: #4b4b4b; padding-bottom: 6px; }

.header .header-top .main__nav ul li a:hover { color: #3366cc; border-bottom: 1px solid #3366cc; }

.header .header-bottom .title-image { margin: 164px 0 0 -145px; }

.header .header-bottom .title { font: 700 2.7rem "Open Sans", sans-serif; margin-top: 43px; }

.header .header-bottom p { font: 400 1.8rem/2.7rem "Open Sans", sans-serif; color: #585858; width: 450px; margin-top: 30px; }

.header .header-bottom p span { font-weight: 600; }

/* Middle
-----------------------------------------------------------------------------*/
.content { padding: 0 0 50px; }

.services { background: url(../images/services-bg.png) 0 0 no-repeat; min-height: 857px; }

.services h2 { padding-top: 160px; }

.services .services-list:first-of-type { padding-top: 61px; }

.services .services-list { text-align: center; }

.services .services-list li { width: 220px; height: 253px; display: inline-block; vertical-align: top; }

.services .services-list li:hover { background: url(../images/services-hover.png) 0 0 no-repeat; cursor: pointer; }

.services .services-list li .image-wrap { height: 120px; width: 220px; position: relative; }

.services .services-list li .image-wrap img { margin: auto; position: absolute; bottom: 0; left: 0; right: 0; max-height: 100%; max-width: 100%; }

.services .services-list li .service-text { padding-top: 19px; }

.services .services-list li .service-text p { font: 400 1.8rem/2.4rem "Open Sans", sans-serif; color: #fff; }

.contact h2 { padding: 153px 0 63px; color: #343434; }

.contact .phone, .contact .contact-mail { display: block; text-align: center; font: 400 1.8rem/2.4rem "Open Sans", sans-serif; color: #000; padding-left: 42px; }

.contact .phone { margin-top: 63px; background: url(../images/contact-phone.png) 0 center no-repeat; text-decoration: none; }

.contact .contact-mail { background: url(../images/mail-icon.png) 0 center no-repeat; }

/* Footer
-----------------------------------------------------------------------------*/
.footer { margin: -50px auto 0; min-width: 320px; max-width: 1920px; height: 50px; background: #BFF08E; position: relative; }

/*# sourceMappingURL=style.css.map */