.gallery-slider {
  position: relative;

  &::before {
    top: 11rem;
    left: 0;
    content: '';
    position: absolute;
    width: 28rem;
    height: 51rem;
    display: block;
    background-image: url(../img/piece-diamond-1.png),
                      url(../img/piece-diamond.png);
    background-position: 0 0, right bottom;
    background-repeat: no-repeat;
    z-index: 10;

    @include media-breakpoint-down(md) {
      content: none;
    }
  }

  &::after {
    width: 12.5rem;
    height: 26rem;
    position: absolute;
    top: 8rem;
    right: 9rem;
    content: '';
    background: url(../img/piece-diamond-right.png) no-repeat left top;
    z-index: 10;

    @include media-breakpoint-down(md) {
      content: none;
    }
  }

  &__bg {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    &::after {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0,0,0,.4);
    }
  }

  &__item {
    height: 68rem;
    position: relative;

    @include media-breakpoint-down(md) {
      height: auto;
    }
  }

  &__content {
    position: absolute;
    top: 16rem;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 5;

    @include media-breakpoint-down(md) {
      top: 6.5rem;
      transform: translate(-50%);
      width: 100%;
      padding: 0 2rem;
    }
  }

  .section__heading {
    margin-top: 16rem;

    @include media-breakpoint-down(md) {
      margin-top: 0;
    }
  }

  .section__desc {
    margin-top: 4rem;

    @include media-breakpoint-down(md) {
      margin-top: 0;
      padding-top: 4rem;
    }
  }

  &-navigation {
    position: absolute;
    bottom: 10rem;
    z-index: 20;
    left: 50%;
    width: 70rem;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      width: auto;
      bottom: 3rem;
    }

    .btn {
      width: 19.4rem;

      &:first-child {
        text-align: right;
      }
    }

    .btn-icon--prev {
      &::before {
        margin-right: 4rem;
      }

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    .btn-icon--next {
      &::after {
        margin-left: 4rem;
      }
    }

  }

}
.gallery-slider.owl-carousel .owl-item .owl-lazy[src^=""], 
.gallery-slider.owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 100%;
  height: 68rem;

  @include media-breakpoint-down(md) {
    height: 60rem;
  }
}