.main-slider {
  z-index: 30;
  max-width: 100rem;

  &__item {
    position: relative;
    display: flex;
  }

  &__phones {
    list-style: none;
    padding: 0;
    overflow: hidden;
    transition: max-height 1s;
    max-width: 50rem;
    @include media-breakpoint-down(md) {
      max-height: 6rem;
    }
  
    li {
      @include media-breakpoint-up(md) {
        padding-bottom: 2rem;
      }
      
    }
    
    a {
      &:hover {
        color: $primary-color;
        text-decoration: none;
      }
    }
  }

  &__show-phones {
    max-height: inherit;
  }

  &__map {
    height: 45rem;
    width: 48rem;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__show-on-map {
    &:link,
    &:visited {
      justify-content: center;
      align-items: center;
      margin-bottom: 6rem;
      height: 4rem;
      background: $yellow-color;
      box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.2);
      border-radius: 2px;
      text-align: center;
      font: 1.5rem $primary-font-bold;
      color: $blue-darkest-color;
      display: none;
      max-width: 28rem;

      @include media-breakpoint-down(md) {
        display: flex;
      }
    }

    &:active {
      transform: translateY(2px);
    }
    &:hover {
      text-decoration: none;
    }
    
  }

  .owl-nav {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: -1;

    .owl-prev,
    .owl-next {
      width: 10rem;
      height: 10rem;
      margin-left: -15rem;

      &:focus {
        outline: none;
      }
      svg {
        fill: $primary-color;
      }
    }

    .owl-next {
       margin-right: -9rem;
    }


  }
}

.main-slider.owl-carousel {
  @include media-breakpoint-down(md) {
    display: block;
  }
}

.main-slider__nav {
  display: flex;
  width: 28rem;
  justify-content: space-between;
  position: absolute;
  bottom: 22rem;
  z-index: 100;
  display: none;
  
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.dots-wrapper {
  height: 7rem;
  background: $yellow-color;
  box-shadow: 0 -1rem 5rem rgba(0, 0, 0, 0.1);
  position: relative;

  @include media-breakpoint-down(md) {
    display: none;
  }
}


.slider-dots {
  display: flex;
  height: 7rem;
  align-items: center;
  justify-content: flex-start;

  &__item {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid $primary-color;
    border-radius: 50%;
    transition: all .5s ease-in;
    cursor: pointer;
    margin-right: 2rem;
    position: relative;

    &::after {
      content: '';
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: transparent;
      border: 2px solid $primary-color;
      // left: 50%;
      // top: 50%;
      transform: translate(-28%, -28%);
      position: absolute;
      opacity: 0;
      transition: all .5s ease-in;
    }
  }

  &__item.active {
    background-color: $primary-color;

    &::after {
      opacity: 1;
    }
  }
}