.main-slider {
  z-index: 30;

  &__item {
    position: relative;
    display: flex;
  }

  &__phones {
    list-style: none;
    padding: 0;
    max-height: 6rem;
    overflow: hidden;
    transition: max-height 1s;
  }

  &__show-phones {
    max-height: inherit;
  }

  &__map {
    height: 43rem;
    width: 48rem;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.main-slider.owl-carousel {
  @include media-breakpoint-down(md) {
    display: block;
  }
}

.main-slider__nav {
  display: flex;
  width: 28rem;
  justify-content: space-between;
  position: absolute;
  bottom: 22rem;
  z-index: 100;
  
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.dots-wrapper {
  height: 7rem;
  background: $yellow-color;
  box-shadow: 0 -1rem 5rem rgba(0, 0, 0, 0.1);
  position: relative;

  @include media-breakpoint-down(md) {
    display: none;
  }
}


.slider-dots {
  display: flex;
  height: 7rem;
  align-items: center;
  justify-content: flex-start;

  &__item {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid $primary-color;
    border-radius: 50%;
    transition: all .5s ease-in;
    cursor: pointer;
    margin-right: 2rem;
    position: relative;

    &::after {
      content: '';
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: transparent;
      border: 2px solid $primary-color;
      // left: 50%;
      // top: 50%;
      transform: translate(-28%, -28%);
      position: absolute;
      opacity: 0;
      transition: all .5s ease-in;
    }
  }

  &__item.active {
    background-color: $primary-color;

    &::after {
      opacity: 1;
    }
  }
}