.map {
  height: 45rem;
  width: 48rem;
  margin: 0 auto;
}

#map-canvas-kharkov {
  -webkit-clip-path: url(#chopChop-kharkov);
  -moz-clip-path: url(#chopChop-kharkov);
  -ms-clip-path: url(#chopChop-kharkov);
  clip-path: url(#chopChop-kharkov);
}

#map-canvas-poltava {
  -webkit-clip-path: url(#chopChop-poltava);
  -moz-clip-path: url(#chopChop-poltava);
  -ms-clip-path: url(#chopChop-poltava);
  clip-path: url(#chopChop-poltava);
}

#map-canvas-kremen {
  -webkit-clip-path: url(#chopChop-kremen);
  -moz-clip-path: url(#chopChop-kremen);
  -ms-clip-path: url(#chopChop-kremen);
  clip-path: url(#chopChop-kremen);
}

#map-canvas-kropyv {
  -webkit-clip-path: url(#chopChop-kropyv);
  -moz-clip-path: url(#chopChop-kropyv);
  -ms-clip-path: url(#chopChop-kropyv);
  clip-path: url(#chopChop-kropyv);
  height: 30rem;
}

#map-canvas-doneck {
  -webkit-clip-path: url(#chopChop-doneck);
  -moz-clip-path: url(#chopChop-doneck);
  -ms-clip-path: url(#chopChop-doneck);
  clip-path: url(#chopChop-doneck);
  width: 30rem;
}