@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	
}

// ≥992px
@include media-breakpoint-down(md) {
  .wrapper {
    margin-bottom: 0;
  }
  .starter {
    padding-bottom: 50px;
    &::after {
      content: "";
      display: block;
      width: 274px;
      height: 4px;
      margin: 25px auto;
      background: url(../img/dots.svg) no-repeat top center;
    }
  }
  header {
    padding-top: 0;
    .header {
      position: fixed;
      width: 100%;
      flex-direction: column;
      height: 60px;
      justify-content: center;
      transition: height 2s ease;
      z-index: 50;
      background: rgba(28, 28, 32, 0.96);
      nav,
      .address,
      .header-order {
        display: none;
      }
      .phone {
        margin-left: 20px;
      }
      .burger-ico {
        display: block;
        position: absolute;
        width: 25px;
        height: 20px;
        top: 20px;
        right: 20px;
        background: url(../img/burger-ico.svg) no-repeat center;
        cursor: pointer;
      }
    }

    .header.open {
      height: auto;
      nav,
      .address,
      .header-order {
        display: block;
      }
      nav {
        display: flex;
        flex-direction: column;
        order: 0;
        margin: 80px 0 0 40px;
        a {
          margin-bottom: 30px;
          font-size: 20px;
          letter-spacing: 1px;
        }
      }
      .phone {
        order: 1;
        margin: 50px 0 0 40px;
        font-size: 20px;
        color: #fff;
      }
      .address {
        order: 2;
        font-size: 16px;
        margin: 15px 0 0 40px;
      }
      .header-order {
        order: 3;
        margin-top: 45px;
        width: 100%;
        height: 60px;
        background-color: #D4A377;
        line-height: 60px;
        text-align: center;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #fff;
      }
      .burger-ico {
        width: 20px;
        height: 20px;
        background-image: url(../img/close-ico.svg);
      }
    }
  }
  .order-btn {
    width: 274px;
    height: 54px;
    &::after {
      background-image: url(../img/offset-contur-mobile.svg);
      width: 280px;
      height: 61px;
    }
  }
  .rating {
    .rating__item {
      width: 130px;
      height: 120px;
    }
    
  }
  .logo {
    width: auto;
    img:first-child {
      display: none;
    }
    .mobile-masons {
      display: block;
      margin: 0 auto;
    }
  }

  .divider {
    display: none;
  }

  .sale {
    h2 {
      font-size: 24px;
      letter-spacing: 6px;
    }
  }
  .sale-slider {
    &::before {
      content: none;
    }
    
    .slider__item {
      margin-left: 0;
      flex-direction: column;
      align-items: center;
      .image-wrapper {
        height: 220px;
        .circle {
          display: none;
        }
      }
      .slider-content {
        margin-left: 0;
        padding: 0 20px;
        max-height: 100%;
      }
    }
    .owl-dots {
      right: 50%;
      margin-right: -30px;
      bottom: auto;
      top: 195px; 
    }
    .owl-nav {
      width: 100%;
      display: flex;
      justify-content: space-around;
      position: static;
      margin-top: 20px;
      button.owl-next,
      button.owl-prev {
        width: 130px;
      }
    }
  }

  .menu {
    padding-bottom: 0;
    &::before {
      content: none;
    }
    h2 {
      font-size: 2.4rem;
      letter-spacing: 6px;
      padding: 0 20px;
    }
    .tabs-wrapper {
      .tabs {
        margin-top: 20px;
        padding: 0 20px;
        height: 60px;
        justify-content: space-between;
        flex-direction: column;
        .tab {
        }
        .active {
          &::after {
            bottom: 0;
          }
        }
      }
      .tab_content {
        &::after {
          content: none;
        }
        .tab-controls {
          display: flex;
          justify-content: space-around;
          margin-top: 20px;
          button {
            width: 130px;
            height: 40px;
            border: none;
          }
          .tab-prev {
            background: #D4A377 url(../img/arrow-tab-prev.svg) no-repeat center;
          }
          .tab-next {
            background: #D4A377 url(../img/arrow-tab-next.svg) no-repeat center;
          }
        }
        .tab_item {
          padding: 0;
          height: auto;
          overflow-y: auto;
          .tab_header {
            display: flex;
            flex-direction: column;
            img {
              position: static;
            }
          }
        }
        .dishes {
          .main_content {
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

          }
        }
      }
    }
    .download__menu {
      justify-content: center;
      svg {
        width: 30px;
        height: 40px;
      }
      a {
        width: 180px;
      }
    }
  }
  .gallery {
    margin-top: 60px;
    &::after {
      content: none;
    }
    &::before {
      content: none;
    }
    &-divider {
      margin-top: 50px;
      img {
        display: none;
      }
      .mobile {
        display: block;
        margin: 0 auto;
      }
    }
    .image-gallery {
      &::before,
      &::after {
        content: none;
      }
      .gallery-item {
        width: auto;
      }
    }
    .insta-btn {
      display: block;
      width: auto;
      height: 60px;
      background-color: #D4A377;
      font-size: 15px;
      text-align: center;
      letter-spacing: 4px;
      text-transform: uppercase;
      color: #FFFFFF;
      line-height: 60px;
    }
  }
  .about {
    padding-bottom: 50px;
    &::after {
      content: none;
    }
    h2 {
      font-size: 24px;
      letter-spacing: 6px;
    }
    .container > p {
      padding: 0 20px;
    }
    .cards {
      padding: 0 20px;
      justify-content: center;
      .card-item {
        width: auto;
        height: auto;
      }
    }
    .widgets {
      margin-top: 30px;
      justify-content: center;
      .facebook {
        margin-right: 0;
        height: auto;
        margin-bottom: 40px;
      }
      .instagram {
        height: auto;
      }
    }
  }

  footer {
    height: auto;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    .left {
      text-align: center;
      order: 0;
      .callback {
        font-size: 16px;
      }
    }
    .right {
      order: 1;
      .social {
        order: 1;
        margin: 30px auto 0;
        a {
          svg {
            height: 40px;
            width: 19px;
            path {
              fill: #D4A377;
            }
          }
        }
        .soc-inst {
          svg {
            width: 40px;
            height: 40px;
          }
        }
      }
      .work-time {
        order: 0;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        align-items: center;
      }
    }
    .middle {
      order: 2;
      .copyright {
        line-height: 20px;
        font-size: 15px;
      }
      .middle-logo {
        margin-top: 30px;
      }
    }
  }

  .form-wrapper {
    width: auto;
    padding: 75px 0 0;
    h2 {
      letter-spacing: 3px;
      &::before,
      &::after {
        content: none;
      }
    }
    .callback-form {
      padding: 20px 0 0;
      input {
        margin: 0 20px 25px;
      }
    }
    .mfp-close {
      right: 0;
      top: 0;
      color: #CACACA;
      opacity: 1;
      font-size: 45px;
    }
  }
}
// ≥768px
@include media-breakpoint-down(sm) {

}

// ≥576px
@include media-breakpoint-down(xs) {

}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {


}

// ≤1200px
@include media-breakpoint-up(xl) {
	.starter {
    background-size: cover;
  }
}
