::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

html {
	font-size: 62.5%;
}

body {
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	overflow-x: hidden;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

b, strong {
	font-weight: bold;
}

.wrapper {
	max-width: 1092px;
	margin: 0 auto;
}