@import "../mixins/font-face";

// @include font-face("ping-regular", "../fonts/PingRegular/PingRegular");
// @include font-face("ping-regular-italic", "../fonts/PingRegular/PingRegularItalic");

@include font-face("ping-regular", "../fonts/PingRegular/PingRegular");
// @include font-face("ping-regular-italic", "../fonts/PingRegular/PingRegularItalic");
@include font-face("ping-bold", "../fonts/PingBold/PingBold");
@include font-face("ping-medium", "../fonts/PingMedium/PingMedium");
@include font-face("ping-light", "../fonts/PingLight/PingLight");

body {
  font-size: 1.6rem;
  font-family: $primary-font;
  color: $primary-color;
}

h1 {
  font-size: 4.4rem;
  line-height: 6rem;

  @include media-breakpoint-down(md) {
    font-size: 3rem;
    line-height: 4rem;
  }
}

p {
  font-size: 1.8rem;
  line-height: 2rem;
}


.main-slider {
  &__title {
    font-size: 2.4rem;
    line-height: 4rem;
  }

  &__desc {
    font-size: 1.3rem;
    color: rgba($primary-color, .75);
    line-height: 2rem;
  }

  &__phones {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &__show-more:visited,
  &__show-more:link {
    font-size: 1.4rem;
    line-height: 2rem;
    color: rgba($primary-color, .85);
    border-bottom: 1px dashed rgba($primary-color, .85);
    display: inline-block;
  }

  &__show-more:hover {
    text-decoration: none;
    color: $primary-color;
    border-bottom-color: $primary-color;
  }
}

.section__heading {
  font-size: 3.4rem;
  line-height: 5rem;
  font-family: $primary-font-bold;

  @include media-breakpoint-down(md) {
    font-size: 2.7rem;
    line-height: 3.5rem;
  }

  span {
    font-size: 6rem;

    @include media-breakpoint-down(md) {
      font-size: inherit;
    }
  }
}
.section__desc {
  padding-top: 2rem;
  font-size: 2rem;
  line-height: 3rem;
  font-family: $primary-font-medium;

  @include media-breakpoint-down(md) {
    padding-top: 3rem;
    font-size: 1.8rem;
  }
}

.manufacture-section {
  color: $blue-dark-color;

  .section__desc {
    color: $blue-light-color;
  }
  
}
