html {
	height: 100%;
	font: 10px/10px $open-sans;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	height: 100%;
}
.wrapper {
	min-width: 320px;
	max-width: 1920px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
}
.clear:after {
	content: '';
	display: table;
	clear: both;
}
h2 {
	font: 400 6rem $open-sans;
	
}