$paci: 'Pacifico', cursive;
$rale: 'Raleway', sans-serif;
$hreg: 'HelveticaRegular', sans-serif;
$hita: 'HelveticaItalic', sans-serif;
$active_elements: #2ecc71;
$bg_color: #e3e3e3;
$content_color: #848484;
$titles_color: #222;