@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=cyrillic');
* {
	box-sizing: border-box;
}
/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
	font: 10px Arial, sans-serif;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	height: 100%;
}
.wrapper {
	min-width: 320px;
	max-width: 1920px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.container {
	width: 1170px;
	margin: 0 auto;
}
.clear:after {
	content: '';
	display: table;
	clear: both;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 750px;
	font-family: 'Ubuntu', sans-serif;
}
/* header top */
.header-top {
	height: 106px;
}
.left-side {
	float: left;
	width: 55%;
}
.left-list {
	font-size: 0;
}
.left-list__item {
	font-size: 1.8rem;
	color: #1e1e1e;
	display: inline-block;
	line-height: 106px;
	height: 106px;
	background: url(../images/header-top1.png) no-repeat 37px center;
}
.left-list__item:nth-of-type(2) {
	background: url(../images/header-top2.png) no-repeat 45px 23px;
}
.header-top__text {
	line-height: normal;
	padding-left: 120px;
	display: inline-block;
	vertical-align: middle;
}
.left-list__item:nth-of-type(2) .header-top__text {
	padding-left: 137px;
}
.header-top__text p {
	font-size: 2.1rem;
	font-weight: 700;
}
.header-top__text span {
	font-size: 1.8rem;
}
.right-side {
	float: right;
	width: 40%;
}
.tel-list {
	font-size: 0;
}
.tel-list__item {
	font-size: 1.7rem;
	color: #1e1e1e;
    display: inline-block;
    line-height: 106px;
    height: 106px;
    width: 190px;
}
.tel-list__item:first-of-type {
	margin-right: 60px;
}
.tel-cont {
	line-height: normal;
	display: inline-block;
	vertical-align: middle;
}
.tel-cont a {
	color: #1e1e1e;
	margin-left: 5px;
}
.tel-cont span {
	font-size: 2rem;
	font-weight: 700
}
/* End header top */
/*header bottom*/
.header-bottom {
	background: url(../images/header-bottom-bg.jpg) center center no-repeat;
	height: 638px;
}
.logo, .main-nav a {
	color: #f9f8f5;
}
.logo, .main-nav {
	display: inline-block;
	height: 70px;
	line-height: 70px;
	vertical-align: middle;
}
.logo {
	font-size: 3.626rem;
	text-decoration: none;
	margin: -8px 110px 0 30px;
}
.menu {
	font-size: 0;
}
.menu__item {
	display: inline-block;
	font-size: 2rem;
	font-weight: 700;
	margin-right: 50px;
}
.menu__item:last-of-type {
	margin-right: 0;
}
.menu-link {
	text-decoration: none;
}
.menu-link:hover {
	text-decoration: underline;
}
.bottom-text {
	padding: 110px 0 0 25px;
	float: left;
	position: relative;
	color: #fffffe;
	font-size: 1.8rem;
	width: 360px;
	font-family: Arial, sans-serif;
	line-height: 24px;
}
.bottom-text img {
	position: absolute;
	top: 9px;
	left: 84px;
}
.bottom-text p {
	font-size: 5rem;
	color: #fff;
	font-weight: 900;
	line-height: 60px;
	padding-bottom: 17px;
}
.smartphone {
    float: left;
    margin: 120px 0 0 7px;
}
.round-shadow {
	width: 363px;
    height: 363px;
    float: right;
    margin: 60px 5px 0 0;
}
/*End header bottom*/
/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 80px;
}
h2 {
	font-size: 4.572rem;
	font-weight: 900;
	color: #fdcf27;
	text-align: center;
	line-height: 42.86px;
	
}
/*Section gsm*/
.gsm {
	padding-bottom: 85px;
}
.gsm-main-img {
	float: left;
    margin: 37px 0 0 25px;
}
.gsm-text-wrap {
	float: left;
	padding: 37px 0 0 45px;
}
.gsm-text-wrap h2 {
	text-align: left;
}
.slogan {
	font-size: 3.238rem;
	color: #272727;
	line-height: 42.86px;
	margin-top: 8px;
}
.control {
	font-size: 2.4rem;
	color: #2d2d2d;
	line-height: 46px;
	margin-top: 128px;
	text-transform: uppercase;
}
.control span {
	color: #fdcf27;
}
.gsm-list {
	margin: 63px 0 0 97px;
	font-size: 0;
	color: #2d2d2d;
	width: 330px;
}
.gsm-list__item {
	font-size: 2.069rem;
	padding-left: 100px;
	line-height: 70px;
	height: 70px;
	background: url(../images/gsm-phone.png) 0 center no-repeat;
	margin-bottom: 50px;
}
.gsm-list__item span {
	line-height: normal;
	display: inline-block;
	vertical-align: middle;
}
/*End Section gsm*/
/*Section temperatura*/
.temperature {
	background: url(../images/temperature-bg.jpg) no-repeat left center;
	padding-top: 52px;
}
.temperature h2 {
	padding-left: 17px;
}
.temp-text {
	font-size: 3.2rem;
	color: #fff;
	text-align: center;
	padding-top: 13px;
    padding-left: 33px;
}
.temperature .container > img {
    margin: 63px 0 0 173px;
}
.temp-roz {
	float: right;
	margin: 70px 40px 0 0;
	width: 406px;
	height: 406px;
	border-radius: 50%;
	overflow: hidden;
}
/*End section temperatura*/
/*Section technical*/
.technical {
	padding-bottom: 60px;
}
.tech-wrap {
	max-width: 1140px;
	margin: 0 auto;
	margin-top: 70px;
	padding: 70px 95px;
	box-shadow: 0px 5px 24px 3px rgba(0,0,0,.36);
}
.tech-table {
	display: table;
	width: 100%;
	margin-top: 57px;
}
.tech-row {
	display: table-row;
	
}
.tech-cell {
	display: table-cell;
	padding: 22px 27px;
	background: #eeecec;
	border: 2px solid #fff;
	font-size: 2rem;
	color: #343434;
}
.roz-list {
	margin-top: 90px;
	font-size: 0;
	text-align: center;
}
.roz-list__item {
	display: inline-block;
	vertical-align: top;
	margin-right: 30px;
	box-shadow: 2px 3px 10px 3px rgba(0,0,0,.24);
}
.roz-list__item:last-of-type {
	margin-right: 0;
}
/*End section technical*/
/*Section Price*/
.price {
	background-color: #eeecec;
}
.price h2 {
	padding-top: 60px;
}
.price h2 span {
	color: #272727;
	font-weight: 400;
}
.price-list {
	font-size: 0;
	margin-top: 85px;
}
.price-title {
	font-size: 3rem;
	color: #2d2c2c;
	padding-bottom: 30px;
}
.price-list__item {
	font-size: 2.5rem;
	color: #8a8989;
	width: 50%;
	display: inline-block;
	vertical-align: top;
	padding: 0 45px 0 15px;
	line-height: 48px;
}
.order {
	width: 360px;
	height: 85px;
	margin: 50px auto 70px;
	line-height: 85px;
	background-color: #fdcf27;
	font-size: 3rem;
	color: #fff;
	text-align: center;
	display: block;
	text-decoration: none;
}
/*End section price*/
/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -80px auto 0;
	min-width: 320px;
	max-width: 1920px;
	height: 80px;
	background: #BFF08E;
	position: relative;
}