@media (max-width: 1170px) {
    .main-menu {
        padding-left: 0;
    }
    .popup {
        width: 80%;
    }
}

@media (max-width: 1120px) {
    .how-it-works .steps-int {
        width: 90%;
    }
    .how-it-works img {
        display: block;
        margin: 0 auto;
    }
    .how-it-works {
        -webkit-background-size: 1920px 100%;
        background-size: 1920px 100%;
    }
}

@media (max-width: 870px) {

    .wrapper {
        -webkit-background-size:1925px 1150px;
        background-size: 1925px 1150px;
    }

    .header, .footer {
        height: auto;
    }

    .header-tel {
        float: none;
        margin: 0 auto;
        width: 125px;
    }

    .logo {
        float: none;
        margin: 0 auto;
        width: 210px;
    }

    .logo a {
        padding: 10px 15px;
    }

    .main-menu {
        float: none;
        display: block;
        margin: 0 auto;
        width: 200px;
        text-align: center;
    }

    .header-tel {
        padding: 10px;
        text-align: center;
    }

    .main-menu li a {
        padding: 10px;
    }
}

@media (max-width: 750px) {
    .how-it-works img {
        width: 90%;
    }
}

@media (max-width: 660px) {
    .gifts ul li{
        font-size: 12px;
    }
}

@media (max-width: 530px) {
    .gifts .gifts-free{
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .gifts ul li{
        font-size: 10px;
    }
}

@media (max-width: 420px) {
    .gifts .gifts-free{
        font-size: 12px;
        padding:5px 0 40px;
    }
    
    .popup {
        height: 300px;
        background: #0083fe;
    }

    .popup input[type=phone]{
        width: 80%;
    }
}

@media (max-width: 360px) {
    .gifts .gifts-free{
        font-size: 10px;
    }
}
