/* Footer
-----------------------------------------------------------------------------*/

.footer {
    margin: -175px auto 0;
    min-width: 320px;
    max-width: 1920px;
    height: 175px;
    background: #BFF08E;
    position: relative;
    @include bg-img('footer-bg.png', null, center, 0);
    .footer-bottom {
    	position: absolute;
    	bottom: 0;
    	right: 0;
    	left: 0;
        height: 50px;
        background-color: #000000;
        opacity: 0.6;
        .footer-wrap {
        	display: flex;
        	justify-content: space-between;
        	align-content: center
        }
    }
}
