/* Footer
-----------------------------------------------------------------------------*/

.footer {
    margin: -175px auto 0;
    min-width: 320px;
    max-width: 1920px;
    height: 175px;
    position: relative;
    @include bg-img('footer-bg.png', null, center, 0);
    .footer-bottom {
    	position: absolute;
    	bottom: 0;
    	right: 0;
    	left: 0;
        height: 50px;
        background-color: #000000;
        opacity: 0.6;
        .footer-wrap {
        	height: 50px;
        	line-height: 50px;
            .copyright, .up {
                float: left;
            }            
        	.copyright {
        		font: 400 1.3rem/2.4rem $roboto;
        		color: #918e90;
        	}
        	.up {
        		width: 47px;
        		height: 24px;
        		@include bg-img('arrow.png');
        		font: 300 1.3rem/2.4rem $open-sans;
        		color: #bdbdbd;
        		text-decoration: none;
        	}
        	.footer-phone {
        		padding-left: 23px;
        		@include bg-img('footer-phone.png', null, 0, center);
        		font: 300 1.5rem/2.4rem $open-sans;
        		color: #fff;
        		text-decoration: none;
                float: right;
        	}
        }
    }
}

#print {
    .footer {
        background: none;
    }
}
