/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 796px;
	@include bg-img('header-bg.png', null, right, top);
	.header-top {
		height: 50px;
		box-shadow: 0 2px 6px #a9a9a9;
		background-color: #fcfcfc;
		.logo, .phone {
			float: left;
			text-decoration: none;
		}
		.logo {
			margin: 13px 0;
			display: block;
		}
		.phone {
			font: 400 1.8rem $open-sans;
		}
		.main__nav {
			float: right;
		}
	}
}