/* Middle
-----------------------------------------------------------------------------*/

.content {
    padding: 0 0 50px;
}

.services {
    @include bg-img('services-bg.png');
    h2 {
        padding-top: 183px;
    }
    .services-list:first-of-type {
    	padding-top: 61px;
    }
    .services-list {
    	text-align: center;
    	
        li {
            width: 220px;
            height: 253px;
            display: inline-block;
            vertical-align: top;
            &:hover {
            	@include bg-img('services-hover.png');
            }
            .image-wrap {
            	height: 140px;
            }
        }
    }
}
