/* Middle
-----------------------------------------------------------------------------*/

.content {
    padding: 0 0 175px;
}

.services {
    @include bg-img('services-bg.png');
    min-height: 857px;
    h2 {
        padding-top: 160px;
    }
    .services-list:first-of-type {
        padding-top: 61px;
    }
    .services-list {
        text-align: center;
        li {
            width: 220px;
            height: 253px;
            display: inline-block;
            vertical-align: top;
            &:hover {
                @include bg-img('services-hover.png');
                cursor: pointer;
            }
            .image-wrap {
                height: 120px;
                width: 220px;
                position: relative;
                img {
                    margin: auto;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    max-height: 100%;
                    max-width: 100%;
                }
            }
            .service-text {
                padding-top: 19px;
                p {
                    font: 400 1.8rem/2.4rem $open-sans;
                    color: #fff;
                }
            }
        }
    }
}

.contact {
	min-height: 572px;
    h2 {
        padding: 153px 0 63px;
        color: #343434;
    }
    .phone,
    .contact-mail {
        display: block;
        text-align: center;
        font: 400 1.8rem/2.4rem $open-sans;
        color: #000;
        padding-left: 42px;
        width: 195px;
        margin: 0 auto;
        text-decoration: none;
    }
    .phone {
        margin-top: 63px;        
        @include bg-img('contact-phone.png', null, 0, center);        
    }
    .contact-mail {
    	margin-top: 40px;
		@include bg-img('mail-icon.png', null, 0, center);
    }
    .social {
    	width: 200px;
    	height: 30px;
    	margin: 46px auto 0;
    	display: flex;
    	justify-content: space-between;
		li {
			width: 30px;
			a {
				display: block;
				width: 30px;
				height: 30px;
				@include bg-img('social-sprite.png');			
				&:hover {
				    background-position: 0 -40px;
				}
			}
			.instagram {
				background-position: -56px 0;
				&:hover {
					background-position: -56px -40px;
				}
			}
			.facebook {
				background-position: -112px 0;
				&:hover {
					background-position: -112px -40px;
				}
			}
			.skype {
				background-position: -168px 0;
				&:hover {
					background-position: -168px -40px;
				}
			}
		}
		
    }
}
