/* Middle
-----------------------------------------------------------------------------*/

.content {
    padding: 0 0 50px;
}

.services {
    @include bg-img('services-bg.png');
    h2 {
        padding-top: 183px;
    }
    .services-list {
    	
        li {
            width: 220px;
            height: 253px;
        }
    }
}
