.main__nav {
    .service__link:hover + .service__list {
        left: 0;
        /* Приносим его обратно на экран, когда нужно */
        opacity: 1;
        /* Делаем непрозрачным */
    }
    .service__list {
        list-style: none;
        position: absolute;
        left: -9999px;
        /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
        opacity: 0;
        /* Устанавливаем начальное состояние прозрачности */
        -webkit-transition: 0.25s linear opacity;
        /* В Webkit выпадающие пункты будут проявляться */
        a {
            display: block;
            white-space: nowrap;
        }
    }
}
