#print {
    .main__nav {
        li:hover .service__list {
            left: -1px;
            opacity: 1;
        }
        li:nth-of-type(2):hover {
        	border-left: 1px solid #d1d1d1;
        	border-right: 1px solid #d1d1d1;
        	>a {
        		padding: 0 19px;
        	}
        }
        .service__list {
            list-style: none;
            position: absolute;
            left: -9999px;
            opacity: 0;
            -webkit-transition: 0.25s linear opacity;
            padding: 8px 18px;
            background: #fcfcfc;
            border-left: 1px solid #d1d1d1;
            border-right: 1px solid #d1d1d1;
            box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.5);
            @include bg-img('submenu-bg.png', #fcfcfc, 97px, top);
            li:nth-of-type(2):hover {
            	border: none;
            	padding: 0;
            }
            a {
                display: block;
                height: auto;
                line-height: normal;
                padding: 0;
                white-space: nowrap;
                &:hover {
                	color: #3366cc;
                }
            }
        }
    }
}
